body{
	color: black;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
header{
	width: auto;
	height: 330px;
	display: flex;
    justify-content:space-between;
    align-items: center;
}
#titre{
	width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5%;
}
#image{
	width: 20%; /*div photo partie gauche */
    display: flex;
    justify-content: center;
}
#photo{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	position: relative;
    box-shadow:0 0 12px 5px black;
}
#container{
	display: flex; /* tout sauf le header */
}
#gauche{
	/* partie bannière bleue */
    width: 20%; /* même largeur que div #image */
    text-align: center;
	background-color:#039BE5; 
	border: 2px; 
	border-color:#646464; 
	color: black;
	font-size: 20px;;
    margin-top: -363px;
    padding-top: 366px;
    margin-left: -8px;
}
#droite{
	/* section formation, experience, recommandation */
	width: 80%;
}
#logofacebook, #logotwitter, #logolinkedin{
	width: 60px;
}
.descriptif{
	display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.dates{
	width: 35%;
}
.texte{
	/* texte a propos */
	width: 65%;
}
.marge{
	/* marge entre section droite et gauche */
	margin-left: 60px;
}
h6{
	text-align: center;
	background-color:#BDBDBD; 
	border: 2px; 
	border-color:#646464; 
	color: black;
	font-size: 28px;
	margin:0;
	
}
#lien{
	margin-top: 60px;
	margin-bottom: 60px;
}
#texte{
	margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
h3{
	font-size: 30px;
	margin-right: 50px;
	margin-top: -2%;
}
h2{
	margin-left: 55px;
}
h1{
	font-size: 40px;
	
}
#thomas{
	/*titre avec couleur diffèrente */
	color:#039BE5;
}
#ligne1{
	width: 10%;
    border: none;
    border-bottom: 2px solid #039BE5;
    margin-top: -2%;
    margin-left: 0%;
}
.ligne{
	width: auto;
    border: none;
    border-bottom: 2px solid #039BE5;
    margin-top: -1%;
    margin-left: 5%;
}
#icone{
	font-size: 40px;
    margin-top: 48px;
    font-family: monospace;
}
.fas.fa-graduation-cap, .far.fa-dot-circle, .fas.fa-suitcase, .fas.fa-pencil-alt, .fas.fa-circle{
	color: #039BE5;
}
#recom{
	/* partie recommandation */
	display: flex;
	justify-content: space-around;
}
@media all and (max-width: 1180px){
	/* reponsive tablette */
	#container{
		display: flex;
		flex-direction: column-reverse;
	}
	#gauche{
		width:auto;
		margin-top: 10px;
    	padding-top: 10px;
    	display: flex;
    	flex-direction: column;
	}
	header{
		background-color:#039BE5;
		display: flex;
    	justify-content: space-evenly;
    	width: auto;
	}
	#image{
		width: 50%;
		display: flex;
		}
	#titre{
		width: 80%;
    	display: flex;
    	flex-direction: column;
    	align-items: start;
	}
	#thomas{
		color: white;
	}
	#ligne1{
		border-bottom: 2px solid white;
		
	}
	#lien{
		display: flex;
    	flex-direction: column;
	}
	#contact{
		text-align: center;
    	display: flex;
    	justify-content: space-evenly;
    	align-items: center;
	}
	.fas.fa-music{
		margin-left: 60px;
    	margin-right: 60px;
	}
	#icone{
		font-size: 50px;
		margin-top: 0px;
	}
	#logolinkedin{
		margin-top: 30px;
    	margin-bottom: 30px;
	}
	#apropos{
		margin-top: -40px;
	}
	p, #texte, .dates, h4, h5{
		font-size: 20px;
	}
}
@media all and (min-width: 360px) and (max-width: 700px){
	/*reponsive smartphone*/
	h1{
		font-size: 25px;
	}
	h3{
		font-size: 18px;
	}
	#ligne1{
		display: none;
	}
	#photo{
    	height: 180px;
    	width: 180px;
    	margin-left: 0;
	}
	#image{
		}
	#titre{
		align-items: center;
	}
	p, #texte, .dates, h4, h5{
		font-size: 15px;
	}
	header{
		flex-direction: column;
		padding-top: 5%;
    	padding-bottom: 5%;
	}

}




	