#photo{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

aside{
	width: 35%;
	height:fit-content;
	background-color:#feca07;
	position:absolute;
   	top: 0;
   	left: 0;  
   	bottom: 0;
}
h1{
	text-align: center;
}
#contact, #apropos, #loisirs{
	text-align: center;
}
#logolinkedin, #logofacebook, #logotwitter{
	width: 50px;
}
#profil{
	padding: 15px;
}
#texte{
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	
}
h3{
	text-align: center;
	background-color:#404040; 
	border: 2px; 
	border-color:#646464; 
	color: #feca07;
}
body{
	color: #68603f;
	font-family: 'Open Sans', sans-serif;
}
.prenom{
	color: #feca07;
}
h2{
	font-size: 20px;
	margin-left:-15%;
	text-align: center;
}
header{
	width: 70%;
	margin-left: 35%;
}
#logolinkedin{
	margin-left: 5%;
	margin-right: 5%;
}