body{
	color: black;
	font-family: 'Open Sans', sans-serif;
}
header{
	width: 1330px;
	height: 330px;
}
#titre{
	text-align: center;
	padding-top: 85px;
}
#photo{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	position: absolute;
	margin-left: 20px;
    margin-top: 55px;
    box-shadow:0 0 12px 5px black;
}
#container{
	display: flex;
}
#gauche{
    width: 20%;
    text-align: center;
	background-color:#039BE5; 
	border: 2px; 
	border-color:#646464; 
	color: black;
	font-size: 20px;;
    margin-top: -363px;
    padding-top: 366px;
    margin-left: -8px;
}

#droite{ 
    width: 942px;
    width: 80%;
}
#logofacebook, #logotwitter, #logolinkedin{
	width: 60px;
}
.descriptif{
	display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.dates{
	width: 35%;
}
.texte{
	width: 65%;
}
.marge{
	margin-left: 60px;
}
h6{
	text-align: center;
	background-color:#BDBDBD; 
	border: 2px; 
	border-color:#646464; 
	color: black;
	font-size: 30px;
	margin-top: 18px;
	margin-bottom: 20px;
}
#lien{
	margin-top: 60px;
	margin-bottom: 60px;
}
#texte{
	margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
}
h3{
	font-size: 30px;
    margin-left: -206px;
}
h2{
	margin-left: 55px;
}
h1{
	font-size: 40px;
	margin-bottom: -25px;
	margin-right: 155px;
}
#thomas{
	color:#039BE5;
}
#ligne1{
	width: 9%;
    border: none;
    border-bottom: 2px solid #039BE5;
    margin-top: -2%;
    margin-left: 28%;
}
.ligne{
	width: 995px;
    border: none;
    border-bottom: 2px solid #039BE5;
    margin-top: -1%;
    margin-left: 5%;
}
#icone{
	font-size: 40px;
    margin-top: 48px;
    font-family: monospace;
}
.fas.fa-graduation-cap, .far.fa-dot-circle, .fas.fa-suitcase, .fas.fa-pencil-alt{
	color: #039BE5;
}
#recom{
	display: flex;
	justify-content: space-evenly;
}
@media all and (max-width: 1024px){
	#container{
		display: flex;
		flex-direction: column-reverse;
	}
	#gauche{
		width: auto;
		margin-top: 10px;
    	padding-top: 10px;
    	display: flex;
    	flex-direction: column;
	}
	header{
		background-color:#039BE5; 
	}
	#titre{
		    margin-right: 164px;
		   	padding-top: 75px;
	}
	#thomas{
		color: white;
	}
	#ligne1{
		border-bottom: 2px solid white;
		margin-left: 25%;
	}
	#lien{
		    display: flex;
    		flex-direction: column;
    		align-items: flex-end;
    		margin-top: -197px;
    		margin-right: 130px;
	}
	#contact{
		text-align: center;
    	margin-right: 404px;
    	margin-bottom: -53px;
	}
	.fas.fa-music{
		margin-left: 60px;
    	margin-right: 60px;
	}
	#icone{
		font-size: 50px;
		margin-top: 0px;
	}
	#logolinkedin{
		margin-top: 30px;
    	margin-bottom: 30px;
	}
	#apropos{
		margin-top: -40px;
	}
	p, #texte, .dates, h4, h5{
		font-size: 20px;
	}
@media all and (min-width: 360px) and (max-width: 700px){
	h1{
		font-size: 29px;
    	margin-bottom: -25px;
    	margin-right: 810px;
	}
	h3{
		font-size: 23px;
    	margin-left: -840px;
	}
	#ligne1{
		margin-left: 2%;
	}
	#titre{
		padding-top: 190px;
	}
	#photo{
		margin-left: 77px;
    	margin-top: 22px;
    	height: 180px;
    	width: 180px;
	}
	p, #texte, .dates, h4, h5{
		font-size: 15px;
	}
}




	